@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.table-container {
  max-height: 45vh;
  height: 1fr; /* 40 % výšky obrazovky */
  overflow-y: auto;
  margin: 0 auto; /* Zarovnanie do stredu */
  margin-top: 10px; /* Prispôsobte podľa potreby */
  margin-bottom: 10px;
}
.buttonMultiply{
background-Color: rgb(55, 9, 55),
}


/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-left: 20px;
  margin-top: 10px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.treeView {
  min-width: 100%;
  min-height: 80vh;
  background-color: #F7F6F6;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeViewWindow {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  min-height: 50%;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-color: #97a7b7;

}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.css-1bcfi89-MuiTreeItem-content {
  font-family: 'Poppins', sans-serif;
}

.MuiTreeView-root,
.MuiTreeView-item {
  font-family: 'Poppins', sans-serif !important;
}