@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.welcomebar {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #e6e5e5;
}

.table-head {
  font-weight: bold;
  font-size: 13px;
  font-family: "Poppins";
}
